*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #141414;
}

span{
    color: #fff;
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 5px;
    animation: colors 3s infinite;
}

@keyframes colors {
    0%, 20%{
        color: #f0a00b;
        text-shadow: 0 0 10px #ffa600;
    }
    40%{
        color: #40f00b;
        text-shadow: 0 0 10px #3cff00;
    }
    60%{
        color: #0b94fa;
        text-shadow: 0 0 10px #0099ff;
    }
    80%{
        color: #f00b89;
        text-shadow: 0 0 10px #ff008c;
    }
    100%{
        color: #38ffa2;
        text-shadow: 0 0 10px #38ffa2;
    }
}

span:nth-child(1){ animation-delay: .2s;}
span:nth-child(2){ animation-delay: .4s;}
span:nth-child(3){ animation-delay: .6s;}
span:nth-child(4){ animation-delay: .8s;}
span:nth-child(5){ animation-delay: 1s;}
span:nth-child(6){ animation-delay: 1.2s;}
span:nth-child(7){ animation-delay: 1.4s;}
span:nth-child(8){ animation-delay: 1.6s;}
span:nth-child(9){ animation-delay: 1.8s;}
span:nth-child(10){ animation-delay: 2s;}
span:nth-child(11){ animation-delay: 2.2s;}
span:nth-child(12){ animation-delay: 2.4s;}
span:nth-child(13){ animation-delay: 2.6s;}